<header>
  <div class="header-title">
    Newsify
  </div>

  <div class="search-bar-container">
    <div class="search-bar">
      <!-- <img src="../assets/img/search.png" alt=""> -->
      <input type="text" placeholder="Search">
    </div>
  </div>

  <div class="menu">
    <ul>
        <li [routerLink]="[ '/' ]">
          Home
        </li>
      <li (click)="refreshContent()">
        Refresh
      </li>
      <li [routerLink]="[ '/settings' ]">
        Settings
      </li>
    </ul>
  </div>
</header>

<div class="content-container">
  <router-outlet></router-outlet>
</div>
