.card {
  margin: 20px 20px 20px 20px;
  width: 300px;
  height: 31em;
  display: inline-block;
  box-shadow: 0 0px 2px #fff;
  border-radius: 10px;
  position: relative;

  .card-img {
    width: 100%;

    img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 12em;
      -webkit-user-drag: none;
    }
  }

  .card-body {
    text-align: left;
    float: left;
    margin: 20px 20px 20px 20px;

    .title {
      // text-decoration: underline;
      margin-bottom: 8px;
      padding-bottom: 8px;
      // font-family: 'Open Sans', sans-serif;
      border-bottom: 1px solid rgb(90, 90, 90);
    }

    .card-desc {
      color: rgb(236, 236, 236);
    }
  }

  &:hover {
    box-shadow: 0 0px 3px #fff;
  }

  .card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 18px 15px 18px;

    .info {
      float: left;
      margin-right: 80px;

      .author {
        text-decoration: underline;
        margin-bottom: 5px;
      }
    }

    .read-btn {
      position: absolute;
      bottom: 0;
      float: right;
      margin-left: 12.6em;
      background: linear-gradient(to right, #8f70ff, #653aff);
      color: #fff;
      border-radius: 3px;
      padding: 5px 12px 5px 12px;
      cursor: pointer;
    }
  }
}
