.tags {
  margin-left: -2%;
  width: 104%;
  // border-top: 2px solid #fff;  // Temp
  border-bottom: 2px solid #fff; // Temp

  .desc {
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 3px;
    font-weight: 600;
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
      border: 2px solid #fff;
      border-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(#00abeb),
          to(#fff),
          color-stop(0.5, #fff),
          color-stop(0.5, #66cc00)
        )
        21 30 30 21 repeat repeat;
      margin: 0 4px 0 4px;
      padding: 3px 12px 3px 12px;
      border-radius: 20px;
      font-size: 14px;
      cursor: pointer;
    }

    li.active {
      border-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(#300057),
          to(#fff),
          color-stop(0.5, #fff),
          color-stop(0.5, #ff0000)
        )
        21 30 30 21 repeat repeat;
    }
  }
}

.news-card-container {
    margin-top: 20px;
}

.card {
  margin: 20px 20px 20px 20px;
  width: 300px;
  height: 30em;
  display: inline-block;
  box-shadow: 0 0px 2px #fff;
  border-radius: 10px;
  position: relative;

  .card-img {
    width: 100%;

    img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 12em;
    }
  }

  .card-body {
    float: left;
    margin: 20px 20px 20px 20px;
  }

  &:hover {
    box-shadow: 0 0px 3px #fff;
  }

  .card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 18px 15px 18px;

    .info {
      float: left;
      margin-right: 80px;

      .author {
        text-decoration: underline;
        margin-bottom: 5px;
      }
    }

    .read-btn {
      position: absolute;
      bottom: 0;
      float: right;
      margin-left: 12.6em;
      background: linear-gradient(to right, #8f70ff, #653aff);
      color: #fff;
      border-radius: 3px;
      padding: 5px 12px 5px 12px;
    }
  }
}
